---
 executor:
   test_projects:
     - name: apimon_prod
       repo_url: {{ executor_apimon_repo_url }}
       repo_ref: {{ executor_apimon_repo_ref }}
       scenarios_location: {{ executor_apimon_repo_location }}
   refresh_interval: 2
   count_executor_threads: 8
   log:
     config: /usr/app/task_executor/etc/logging.conf
     fs:
       dest: /var/log/executor/jobs
       archive: True
       keep: True
